{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/stylesheet-principal.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal</title>
</head>
<body>
    <header class="header">
        <div>
            <img class="header_logo" src="{% static 'imagenes/gobierno-edomex.jpeg' %}" alt="">
        </div>
        <h1 class="label_titulo">Verificación Vehicular</h1>
        <div>
            <img class="header_logo" src="{% static 'imagenes/El_Poder_de_Servir.jpeg' %}" alt="">
        </div>
    </header>
    <div class="barra_navegacion">
        <input type="checkbox" class="barra__checkbox" id="open-menu">
        <label for="open-menu" class="barra__open-nav-button" role="button">=</label>
        <div class="barra__logo-container">
            <img class="barra__logo" src="{% static 'imagenes/verificacion-vehicular.jpg' %}" alt="">
        </div>
        <nav class="barra__nav">
            <ul class="barra__nav-list">
                <li class="barra__nav-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="barra__nav-item"><a href="#">Cuando verificar</a></li>
                <li class="barra__nav-item"><a href="{% url 'verificacion' %}">Citas</a></li>
            </ul>
        </nav>
    </div>
    <div class="text-container">
        <p class="init-text">Verificación Vehicular Primer Semestre 2025</p>
    </div>
    <main class="content">
        <div class="main__horario">
            <div class="horario__logo-container">
                <img class="horario__logo" src="{% static 'imagenes/verificentro-por-dentro.jpg' %}" alt="">
            </div>
            <div class="horario__texto">
                <h2>Horario de Atención</h2>
                <label>Lunes a Viernes: 8:00 a 19:00 horas.<br> Sábados: 8:00 a 15:00 horas.</label>
            </div>
        </div>
    </main>
    <section class="verify">
        <h2 class="verify__titulo">CITAS</h2>
        <div class="verify__project-container">
            <div class="verify__project">
                <a href="{% url 'verificacion' %}" class="verify__project-name">VERIFICACION VEHICULAR</a>
            </div>
            <div class="verify__project">
                <a href="{% url 'holograma_exento' %}" class="verify__project-name">HOLOGRAMA EXENTO</a>
            </div>
            <div class="verify__project">
                <a href="{% url 'constancia_d' %}" class="verify__project-name">CONSTANCIA TIPO "D"</a>
            </div>
            <div class="verify__project">
                <a href="{% url 'verificacion-extemporanea' %}" class="verify__project-name">VERIFICACION EXTEMPORANEA</a>
            </div>
            <div class="verify__project">
                <a href="{% url 'cancelar-cita' %}" class="verify__project-name">CANCELAR CITA</a>
            </div>
        </div>
    </section>    
</body>
</html>
