{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/stylesheet-verificacion-vehicular.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación Vehicular</title>
</head>
<body>
    <header class="header">
        <div>
            <img class="header_logo" src="{% static 'imagenes/gobierno-edomex.jpeg' %}" alt="">
        </div>
        <h1 class="label_titulo">Cita Verificación Vehicular</h1>
        <div>
            <img class="header_logo" src="{% static 'imagenes/El_Poder_de_Servir.jpeg' %}" alt="">
        </div>
    </header>
    <h3>Capture los datos que se le solicitan a continuación. Verifique que los datos de placa y serie del vehículo estén correctos antes de continuar con el registro.</h3>
    <section class="appointment">
        <div class="ap__title-container">
            <h2 class="ap__title">Generación de Cita</h2>
        </div>
        <form action="{% url 'citas' %}" method="post">
            {% csrf_token %}
            <div class="ap__form-container">
                <div class="ap__form">
                    <label>Placa:</label>
                    <input type="text" name="placa" placeholder="LGA-00-00" required>
                </div>
                <div class="ap__form">
                    <label>Serie:</label>
                    <input type="text" name="serie" placeholder="453BMHB68B3232231" required>
                </div>
                <div class="ap__form">
                    <label>Marca:</label>
                    <input type="text" name="marca" placeholder="Ford" required>
                </div>
                <div class="ap__form">
                    <label>Submarca:</label>
                    <input type="text" name="submarca" placeholder="Transit 3.5L Gasolina" required>
                </div>
                <div class="ap__form">
                    <label>Modelo:</label>
                    <input type="number" name="modelo" min="1900" max="2100" step="1" value="2022" required>
                </div>
                <div class="ap__form">
                    <label>Nombre solicitante:</label>
                    <input type="text" name="nombre_solicitante" required>
                </div>
                <div class="ap__form">
                    <label>Correo electrónico:</label>
                    <input type="email" name="correo" placeholder="juan123@gmail.com" required>
                </div>
            </div>
            <div class="ap__form">
                <button type="submit">Siguiente</button>
            </div>
        </form>
    </section>
</body>
</html>